## ðŸ”§ 1. Installation

You can install PySpark via pip:
```
pip install pyspark
```
To verify the installation, run the following command in Python:

In [32]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [33]:
import pyspark
print(pyspark.__version__)

3.5.1

Before intializing PySpark, please make sure your computer installed Java 8 or later, but Java 9+ can sometimes cause issues. To check your Java version, run:
```{sh}
java -version
```
You should see something like:
```
java version "1.8.0_281"
```
If Java is not installed, install it trough the link
-  MacBook: [Install Java on MacBook](https://www.java.com/en/download/) (Check if your computer has Intel or Apple M CPU first)
-  Windows: [Install Java on PC](https://www.java.com/download/ie_manual.jsp)

## ðŸš€ 2. Start a Spark Session

In [34]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("PySpark_Tutorial") \
    .master("local[*]") \
    .getOrCreate()

- `SparkSession.builder`: it starts building a new SparkSession configuration; you may treat it as a fluent API (a builder pattern) for customizing your Spark app.
- `.appName("PySpark_Tutorial")`: it sets the name of your Spark application
- `.master("local[*]")`: `"local"` tells Spark to run locally, not on a cluster; `"*"` tells Spark to use all available CPU cores on your machine.`
- `.getOrCreate()`: Creates a new SparkSession or returns an existing one if it already exists.

## ðŸ“‚ 3. Load and Explore Data
The data required for this example is saved at s3://de300spring2025/dinglin_xia/lab7_data/adult.csv.

Assuming your file is named "adult.csv" and contains a column "filtered" (JSON array of words):
Weâ€™ll walk through several important steps:

1. Feature Engineering

2. Bias Analysis on Marital Status

3. Joining with Supplemental Gender Data

4. Exporting Final Data

In [35]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType, FloatType
from pyspark.sql.dataframe import DataFrame
from pyspark.sql.functions import col, when, isnan, isnull, count, avg, trim
import os

In [36]:
DATA_FOLDER = "/content"
# source https://www.statista.com/statistics/242030/marital-status-of-the-us-population-by-sex/
# the first value is male and the second is for female
MARITAL_STATUS_BY_GENDER = [
    ["Never-married", 47.35, 41.81],
    ["Married-AF-spouse", 67.54, 68.33],
    ["Widowed", 3.58, 11.61],
    ["Divorced", 10.82, 15.09]
]
MARITAL_STATUS_BY_GENDER_COLUMNS = ["marital_status_statistics", "male", "female"]

### ðŸ“ spark.read
- `schema(schema)`: Tells Spark to use your predefined schema.

- `option("header", "false")`: Thereâ€™s no header row in the CSV file.

- `option("inferSchema", "false")`: You donâ€™t want Spark to guess column types.

- `csv(...)`: Loads the CSV files from the given folder (wildcard *.csv means all CSVs).

### ðŸ§µ Repartition
Repartitions the DataFrame into 8 partitions, which improves parallel processing.

In [37]:
def read_data(spark: SparkSession) -> DataFrame:
    """
    read data based on the given schema; this is much faster than spark determining the schema
    """

    # Define the schema for the dataset
    # It tells Spark: 1. what column name to expect 2. what data type it should have 3. and whether it can contain null
    # It's faster than letting Spark infer types.
    schema = StructType([
        StructField("age", IntegerType(), True),
        StructField("workclass", StringType(), True),
        StructField("fnlwgt", FloatType(), True),
        StructField("education", StringType(), True),
        StructField("education_num", FloatType(), True),
        StructField("marital_status", StringType(), True),
        StructField("occupation", StringType(), True),
        StructField("relationship", StringType(), True),
        StructField("race", StringType(), True),
        StructField("sex", StringType(), True),
        StructField("capital_gain", FloatType(), True),
        StructField("capital_loss", FloatType(), True),
        StructField("hours_per_week", FloatType(), True),
        StructField("native_country", StringType(), True),
        StructField("income", StringType(), True)
    ])

    # Read the dataset
    data = spark.read \
        .schema(schema) \
        .option("header", "false") \
        .option("inferSchema", "false") \
        .csv(os.path.join(DATA_FOLDER,"*.csv"))
    print("going through")

    data = data.repartition(1)

    # This loop finds all columns with FloatType and casts them to IntegerType
    float_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, FloatType)]
    for v in float_columns:
        data = data.withColumn(v, data[v].cast(IntegerType()))

    # Get the names of all StringType columns
    string_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, StringType)]

    # Remove leading and trailing spaces in all string columns
    for column in string_columns:
        data = data.withColumn(column, trim(data[column])) # Applies the trim() function to remove leading/trailing spaces, which is a common issue in raw CSVs.

    # Show the first 5 rows of the dataset
    data.show(5)

    return data
print(os.path.join(DATA_FOLDER,"*.csv"))

/content/*.csv

ðŸ”§ Breakdown of the query to count missing value
- `data.columns`: List of all column names.

- `isnan(c)`: Checks if a value is NaN (only for numeric types).

- `isnull(c)`: Checks if a value is null (works for any type).

- `when(condition, value)`: Creates a conditional column.

- `count(...)`: Counts how many times that condition is met.

- `.alias(c)`: Names the result column after the original column.

In [38]:
def missing_values(data: DataFrame) -> DataFrame:
    """
    count the number of samples with missing values for each row
    remove such samples
    """
    # Count Missing Values per Column
    missing_values = data.select([count(when(isnan(c) | isnull(c), c)).alias(c) for c in data.columns])

    # Show the missing values count per column
    missing_values.show()

    # Get the number of samples in the DataFrame
    num_samples = data.count()

    # Print the number of samples
    print("Number of samples:", num_samples)

    data = data.dropna()

    return data

### ðŸ“Œ Feature Engineering Function
ðŸ“– Explanation:
This function programmatically finds all integer features and creates new features by multiplying each pair. It helps capture interaction effects for models or exploratory analysis.

- `withColumn()` creates a new column in the DataFrame.

In [39]:
def feature_engineering(data: DataFrame) -> DataFrame:
    """
    Calculate the product of each pair of integer features
    """
    # Identify all integer-type columns in the dataset
    integer_columns = [f.name for f in data.schema.fields if isinstance(f.dataType, IntegerType)]

    # For each pair of integer columns, compute a new column that is their product
    for i, col1 in enumerate(integer_columns):
        for col2 in integer_columns[i:]:  # Avoid duplicate pairs
            product_col_name = f"{col1}_x_{col2}"
            data = data.withColumn(product_col_name, col(col1) * col(col2))

    # Preview first 5 rows to check new columns
    data.show(5)

    return data

### ðŸ“Œ Analyze Bias by Marital Status
ðŸ“– Explanation:
This function investigates if capital_gain varies significantly with marital_status. It also filters and inspects a specific subgroup â€” divorced individuals â€” to facilitate further analysis or visualization.
Compute Average Capital Gain by Marital Status
- `groupBy("marital_status")`: Groups the dataset by marital status (e.g., "Married", "Single", "Divorced").

- `agg(...)`: Performs an aggregation, in this case avg("capital_gain").

- `alias(...)`: Renames the resulting column to "average_capital_gain".

In [40]:
def bias_marital_status(data: DataFrame):
    """
    Analyze if there's a bias in capital gain by marital status
    """
    # Group by marital status and compute average capital gain
    average_capital_gain = data.groupBy("marital_status").agg(avg("capital_gain").alias("average_capital_gain"))
    average_capital_gain.show()

    # Filter only rows with marital_status == "Divorced"
    divorced_data = data.filter(data.marital_status == "Divorced")
    divorced_data.show(5)

### ðŸ“Œ Join with External Gender Statistics
ðŸ“– Explanation:
This function enriches the dataset by joining it with an external dataset containing U.S. gender distribution by marital status. The `outer` join ensures we keep unmatched records for completeness.

In [41]:
def join_with_US_gender(spark: SparkSession, data: DataFrame):
    """
    Join with external data about marital status statistics by gender
    """
    # Example data (assumed predefined in MARITAL_STATUS_BY_GENDER & *_COLUMNS)
    us_df = spark.createDataFrame(MARITAL_STATUS_BY_GENDER, MARITAL_STATUS_BY_GENDER_COLUMNS)

    # Outer join on marital_status
    return data.join(us_df, data.marital_status == us_df.marital_status_statistics, 'outer')

### âœ… Main Pipeline
ðŸ“– Explanation:
This function ties all preprocessing steps together and writes the result to a CSV file. You can run it with main() in a PySpark environment.

In [42]:
def main():
    spark = SparkSession.builder.appName("Read Adult Dataset").getOrCreate()

    data = read_data(spark)               # Load dataset
    data = missing_values(data)           # Handle missing values (assumed implemented)
    data = feature_engineering(data)      # Add interaction features
    bias_marital_status(data)             # Analyze capital gain by marital status
    data = join_with_US_gender(spark, data)  # Enrich with gender statistics

    data.show(5)                          # Preview final data
    data.write.format('csv').option('header', 'true').mode('overwrite').save('saved.csv')  # Save

In [43]:
main()

going through
+----+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| age|workclass|fnlwgt|   education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+----+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|NULL|workclass|  NULL|   education|         NULL|marital.status|       occupation| relationship| race|   sex|        NULL|        NULL|          NULL|native.country|income|
|  90|        ?| 77053|     HS-grad|            9|       Widowed|                ?|Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
|  82|  Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial|Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
|  66|        ?|186061|Some-college|           10|       Widowed|                ?|    Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
|  54|  Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
+----+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  1|        0|     1|        0|            1|             0|         0|           0|   0|  0|           1|           1|             1|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 32562
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|workclass|fnlwgt|   education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 90|        ?| 77053|     HS-grad|            9|       Widowed|                ?|Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|     8100|     6934770|                810|                 0|            392040|                3600|     1642197513|                693477|                    0|            335642868|                3082120|                           81|                           0|                       39204|                           360|                          0|                          0|                            0|                   18974736|                       174240|                           1600|
| 82|  Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial|Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|     6724|    10895340|                738|                 0|            357192|                1476|      474567716|               1195830|                    0|            578781720|                2391660|                           81|                           0|                       39204|                           162|                          0|                          0|                            0|                   18974736|                        78408|                            324|
| 66|        ?|186061|Some-college|           10|       Widowed|                ?|    Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|     4356|    12280026|                660|                 0|            287496|                2640|      258957353|               1860610|                    0|            810481716|                7442440|                          100|                           0|                       43560|                           400|                          0|                          0|                            0|                   18974736|                       174240|                           1600|
| 54|  Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|     2916|     7579386|                216|                 0|            210600|                2160|    -1774187599|                561436|                    0|            547400100|                5614360|                           16|                           0|                       15600|                           160|                          0|                          0|                            0|                   15210000|                       156000|                           1600|
| 41|  Private|264663|Some-college|           10|     Separated|   Prof-specialty|    Own-child|White|Female|           0|        3900|            40| United-States| <=50K|     1681|    10851183|                410|                 0|            159900|                1640|     1327026833|               2646630|                    0|           1032185700|               10586520|                          100|                           0|                       39000|                           400|                          0|                          0|                            0|                   15210000|                       156000|                           1600|
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|             Widowed|   571.0715005035247|
|            Divorced|   728.4148098131893|
|           Separated|   535.5687804878049|
|       Never-married|  376.58831788823363|
|  Married-civ-spouse|  1764.8595085470085|
|Married-spouse-ab...|   653.9832535885167|
|   Married-AF-spouse|   432.6521739130435|
+--------------------+--------------------+

+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|  workclass|fnlwgt|  education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 54|    Private|140359|    7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|     2916|     7579386|                216|                 0|            210600|                2160|    -1774187599|                561436|                    0|            547400100|                5614360|                           16|                           0|                       15600|                           160|                          0|                          0|                            0|                   15210000|                       156000|                           1600|
| 34|    Private|216864|    HS-grad|            9|      Divorced|    Other-service|    Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|     1156|     7373376|                306|                 0|            128180|                1530|     -214645760|               1951776|                    0|            817577280|                9758880|                           81|                           0|                       33930|                           405|                          0|                          0|                            0|                   14212900|                       169650|                           2025|
| 68|Federal-gov|422013|    HS-grad|            9|      Divorced|   Prof-specialty|Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|     4624|    28696884|                612|                 0|            250444|                2720|     2001313033|               3798117|                    0|           1554273879|               16880520|                           81|                           0|                       33147|                           360|                          0|                          0|                            0|                   13564489|                       147320|                           1600|
| 45|    Private|172274|  Doctorate|           16|      Divorced|   Prof-specialty|    Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|     2025|     7752330|                720|                 0|            135180|                1575|     -386439996|               2756384|                    0|            517511096|                6029590|                          256|                           0|                       48064|                           560|                          0|                          0|                            0|                    9024016|                       105140|                           1225|
| 46|    Private| 45363|Prof-school|           15|      Divorced|   Prof-specialty|Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|     2116|     2086698|                690|                 0|            129904|                1840|     2057801769|                680445|                    0|            128105112|                1814520|                          225|                           0|                       42360|                           600|                          0|                          0|                            0|                    7974976|                       112960|                           1600|
+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+
|age|  workclass|fnlwgt|  education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|marital_status_statistics| male|female|
+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+-------------------------+-----+------+
| 54|    Private|140359|    7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|     2916|     7579386|                216|                 0|            210600|                2160|    -1774187599|                561436|                    0|            547400100|                5614360|                           16|                           0|                       15600|                           160|                          0|                          0|                            0|                   15210000|                       156000|                           1600|                 Divorced|10.82| 15.09|
| 34|    Private|216864|    HS-grad|            9|      Divorced|    Other-service|    Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|     1156|     7373376|                306|                 0|            128180|                1530|     -214645760|               1951776|                    0|            817577280|                9758880|                           81|                           0|                       33930|                           405|                          0|                          0|                            0|                   14212900|                       169650|                           2025|                 Divorced|10.82| 15.09|
| 68|Federal-gov|422013|    HS-grad|            9|      Divorced|   Prof-specialty|Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|     4624|    28696884|                612|                 0|            250444|                2720|     2001313033|               3798117|                    0|           1554273879|               16880520|                           81|                           0|                       33147|                           360|                          0|                          0|                            0|                   13564489|                       147320|                           1600|                 Divorced|10.82| 15.09|

## Lab Assignment
### 1.  Spark-sql
Add one more cell in to select rows with 'age' between 30 and 50 (inclusive) and transforms the selected pyspark dataframe into pandas dataframe and print out the summary statistics using 'describe()'. Some useful methods are:
- `filter(...)`: filters Spark DataFrame rows using boolean conditions
- `.toPandas()`: collects the Spark DataFrame into memory, so only use it on small to medium datasets
- `.describe()`: gives summary stats (mean, std, min, max, quartiles)

In [44]:
def describe_age_range(data: DataFrame, lower: int = 30, upper: int = 50):
    """
    Filters rows where age is between `lower` and `upper` (inclusive),
    converts to pandas DataFrame, and prints summary statistics.
    """
    # Filter Spark DataFrame
    filtered_data = data.filter((col("age") <= upper) & (col("age") >= lower))
    # Convert to pandas
    pandas_df = filtered_data.toPandas()
    # Print summary statistics
    print(f"Summary statistics for age between {lower} and {upper}:")
    print(pandas_df.describe())

    return pandas_df  # Optional: return if you want to use it later

In [45]:
def main():
    spark = SparkSession.builder.appName("Read Adult Dataset").getOrCreate()

    data = read_data(spark)               # Load dataset
    data = missing_values(data)           # Handle missing values (assumed implemented)
    data = feature_engineering(data)      # Add interaction features
    bias_marital_status(data)             # Analyze capital gain by marital status
    data = join_with_US_gender(spark, data)  # Enrich with gender statistics

    data_df = describe_age_range(data)    # Select and Transform

    data.show(5)                          # Preview final data
    data.write.format('csv').option('header', 'true').mode('overwrite').save('saved.csv')  # Save

In [47]:
main()

going through
+----+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
| age|workclass|fnlwgt|   education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+----+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
|NULL|workclass|  NULL|   education|         NULL|marital.status|       occupation| relationship| race|   sex|        NULL|        NULL|          NULL|native.country|income|
|  90|        ?| 77053|     HS-grad|            9|       Widowed|                ?|Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|
|  82|  Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial|Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|
|  66|        ?|186061|Some-college|           10|       Widowed|                ?|    Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|
|  54|  Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|
+----+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+
only showing top 5 rows

+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|age|workclass|fnlwgt|education|education_num|marital_status|occupation|relationship|race|sex|capital_gain|capital_loss|hours_per_week|native_country|income|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+
|  3|        0|     3|        0|            3|             0|         0|           0|   0|  0|           3|           3|             3|             0|     0|
+---+---------+------+---------+-------------+--------------+----------+------------+----+---+------------+------------+--------------+--------------+------+

Number of samples: 65125
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|workclass|fnlwgt|   education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 90|        ?| 77053|     HS-grad|            9|       Widowed|                ?|Not-in-family|White|Female|           0|        4356|            40| United-States| <=50K|     8100|     6934770|                810|                 0|            392040|                3600|     1642197513|                693477|                    0|            335642868|                3082120|                           81|                           0|                       39204|                           360|                          0|                          0|                            0|                   18974736|                       174240|                           1600|
| 82|  Private|132870|     HS-grad|            9|       Widowed|  Exec-managerial|Not-in-family|White|Female|           0|        4356|            18| United-States| <=50K|     6724|    10895340|                738|                 0|            357192|                1476|      474567716|               1195830|                    0|            578781720|                2391660|                           81|                           0|                       39204|                           162|                          0|                          0|                            0|                   18974736|                        78408|                            324|
| 66|        ?|186061|Some-college|           10|       Widowed|                ?|    Unmarried|Black|Female|           0|        4356|            40| United-States| <=50K|     4356|    12280026|                660|                 0|            287496|                2640|      258957353|               1860610|                    0|            810481716|                7442440|                          100|                           0|                       43560|                           400|                          0|                          0|                            0|                   18974736|                       174240|                           1600|
| 54|  Private|140359|     7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|     2916|     7579386|                216|                 0|            210600|                2160|    -1774187599|                561436|                    0|            547400100|                5614360|                           16|                           0|                       15600|                           160|                          0|                          0|                            0|                   15210000|                       156000|                           1600|
| 41|  Private|264663|Some-college|           10|     Separated|   Prof-specialty|    Own-child|White|Female|           0|        3900|            40| United-States| <=50K|     1681|    10851183|                410|                 0|            159900|                1640|     1327026833|               2646630|                    0|           1032185700|               10586520|                          100|                           0|                       39000|                           400|                          0|                          0|                            0|                   15210000|                       156000|                           1600|
+---+---------+------+------------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

+--------------------+--------------------+
|      marital_status|average_capital_gain|
+--------------------+--------------------+
|             Widowed|   571.0715005035247|
|            Divorced|   728.4148098131893|
|           Separated|   535.5687804878049|
|       Never-married|  376.58831788823363|
|  Married-civ-spouse|  1764.8595085470085|
|Married-spouse-ab...|   653.9832535885167|
|   Married-AF-spouse|   432.6521739130435|
+--------------------+--------------------+

+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
|age|  workclass|fnlwgt|  education|education_num|marital_status|       occupation| relationship| race|   sex|capital_gain|capital_loss|hours_per_week|native_country|income|age_x_age|age_x_fnlwgt|age_x_education_num|age_x_capital_gain|age_x_capital_loss|age_x_hours_per_week|fnlwgt_x_fnlwgt|fnlwgt_x_education_num|fnlwgt_x_capital_gain|fnlwgt_x_capital_loss|fnlwgt_x_hours_per_week|education_num_x_education_num|education_num_x_capital_gain|education_num_x_capital_loss|education_num_x_hours_per_week|capital_gain_x_capital_gain|capital_gain_x_capital_loss|capital_gain_x_hours_per_week|capital_loss_x_capital_loss|capital_loss_x_hours_per_week|hours_per_week_x_hours_per_week|
+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
| 54|    Private|140359|    7th-8th|            4|      Divorced|Machine-op-inspct|    Unmarried|White|Female|           0|        3900|            40| United-States| <=50K|     2916|     7579386|                216|                 0|            210600|                2160|    -1774187599|                561436|                    0|            547400100|                5614360|                           16|                           0|                       15600|                           160|                          0|                          0|                            0|                   15210000|                       156000|                           1600|
| 34|    Private|216864|    HS-grad|            9|      Divorced|    Other-service|    Unmarried|White|Female|           0|        3770|            45| United-States| <=50K|     1156|     7373376|                306|                 0|            128180|                1530|     -214645760|               1951776|                    0|            817577280|                9758880|                           81|                           0|                       33930|                           405|                          0|                          0|                            0|                   14212900|                       169650|                           2025|
| 68|Federal-gov|422013|    HS-grad|            9|      Divorced|   Prof-specialty|Not-in-family|White|Female|           0|        3683|            40| United-States| <=50K|     4624|    28696884|                612|                 0|            250444|                2720|     2001313033|               3798117|                    0|           1554273879|               16880520|                           81|                           0|                       33147|                           360|                          0|                          0|                            0|                   13564489|                       147320|                           1600|
| 45|    Private|172274|  Doctorate|           16|      Divorced|   Prof-specialty|    Unmarried|Black|Female|           0|        3004|            35| United-States|  >50K|     2025|     7752330|                720|                 0|            135180|                1575|     -386439996|               2756384|                    0|            517511096|                6029590|                          256|                           0|                       48064|                           560|                          0|                          0|                            0|                    9024016|                       105140|                           1225|
| 46|    Private| 45363|Prof-school|           15|      Divorced|   Prof-specialty|Not-in-family|White|  Male|           0|        2824|            40| United-States|  >50K|     2116|     2086698|                690|                 0|            129904|                1840|     2057801769|                680445|                    0|            128105112|                1814520|                          225|                           0|                       42360|                           600|                          0|                          0|                            0|                    7974976|                       112960|                           1600|
+---+-----------+------+-----------+-------------+--------------+-----------------+-------------+-----+------+------------+------------+--------------+--------------+------+---------+------------+-------------------+------------------+------------------+--------------------+---------------+----------------------+---------------------+---------------------+-----------------------+-----------------------------+----------------------------+----------------------------+------------------------------+---------------------------+---------------------------+-----------------------------+---------------------------+-----------------------------+-------------------------------+
only showing top 5 rows

Summary statistics for age between 30 and 50:
                age        fnlwgt  education_num  capital_gain  capital_loss  \
count  32780.000000  3.278000e+04   32780.000000  32780.000000  32780.000000
mean      39.298109  1.895854e+05      10.434655   1296.275595    102.861928
std        5.894915  1.068734e+05       2.522198   8181.468310    432.955776
min       30.000000  1.487800e+04       1.000000      0.000000      0.000000
25%       34.000000  1.169270e+05       9.000000      0.000000      0.000000
50%       39.000000  1.778765e+05      10.000000      0.000000      0.000000
75%       44.000000  2.364150e+05      13.000000      0.000000      0.000000
max       50.000000  1.455435e+06      16.000000  99999.000000   3900.000000

       hours_per_week     age_x_age  age_x_fnlwgt  age_x_education_num  \
count    32780.000000  32780.000000  3.278000e+04          32780.00000
mean        43.261440   1579.090299  7.420700e+06            410.66504
std         10.884961    469.090380  4.274318e+06            120.54677
min          1.000000    900.000000  5.790600e+05             30.00000
25%         40.000000   1156.000000  4.589637e+06            330.00000
50%         40.000000   1521.000000  6.840798e+06            403.00000
75%         48.000000   1936.000000  9.361128e+06            480.00000
max         99.000000   2500.000000  6.147540e+07            800.00000

       age_x_capital_gain  ...  education_num_x_capital_loss  \
count        3.278000e+04  ...                  32780.000000
mean         5.333641e+04  ...                   1162.775412
std          3.458528e+05  ...                   5056.747775
min          0.000000e+00  ...                      0.000000
25%          0.000000e+00  ...                      0.000000
50%          0.000000e+00  ...                      0.000000
75%          0.000000e+00  ...                      0.000000
max          4.999950e+06  ...                  48064.000000

       education_num_x_hours_per_week  capital_gain_x_capital_gain  \
count                    32780.000000                 3.278000e+04
mean                       454.826174                 1.620511e+07
std                        170.625702                 1.174308e+08
min                         12.000000                 0.000000e+00
25%                        360.000000                 0.000000e+00
50%                        420.000000                 0.000000e+00
75%                        540.000000                 0.000000e+00
max                       1584.000000                 1.409865e+09

       capital_gain_x_capital_loss  capital_gain_x_hours_per_week  \
count                      32780.0                   3.278000e+04
mean                           0.0                   6.364586e+04
std                            0.0                   4.358198e+05
min                            0.0                   0.000000e+00
25%                            0.0                   0.000000e+00
50%                            0.0                   0.000000e+00
75%                            0.0                   0.000000e+00
max                            0.0                   7.999920e+06

       capital_loss_x_capital_loss  capital_loss_x_hours_per_week  \
count                 3.278000e+04                   32780.000000
mean                  1.980256e+05                    4689.146797
std                   8.750531e+05                   20548.069830
min                   0.000000e+00                       0.000000
25%                   0.000000e+00                       0.000000
50%                   0.000000e+00                       0.000000
75%                   0.000000e+00                       0.000000
max                   1.521000e+07                  239085.000000

       hours_per_week_x_hours_per_week         male        female
count                     32780.000000  12716.00000  12716.000000
mean                       1990.030933     28.42240     28.048213
std                        1076.615098     18.60363     13.579597
min                           1.000000      3.58000     11.610000
25%                        1600.000000     10.82000     15.090000
50%                        1600.000000     10.82000     15.090000
75%                        2304.000000     47.35000     41.810000
max                        9801.000000     67.54000     68.330000

[8 rows x 29 columns]

In [49]:
spark.stop()

### 2. Word Count
Save only the words that have count greater or equal to 3.

#### 1. Setup Spark Session

In [53]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("WordCount") \
    .master("local[*]") \
    .getOrCreate()

#### 2. Read Text File
Fill in your text file direction

In [54]:
# Each line becomes a row in the DataFrame
lines = spark.read.text("/content/input.txt")
lines.show()

+--------------------+
|               value|
+--------------------+
|MapReduce is a pr...|
|It is inspired by...|
|The Map function ...|
|while the Reduce ...|
|MapReduce enables...|
|This approach is ...|
+--------------------+

#### 3. Split Lines into Words

In [55]:
from pyspark.sql.functions import split, explode, col

# Split lines into arrays of words, then explode into one word per row
words = lines.select(explode(split(col("value"), " ")).alias("word"))
words.show()

+-----------+
|       word|
+-----------+
|  MapReduce|
|         is|
|          a|
|programming|
|      model|
|        for|
| processing|
|      large|
|       data|
|      sets.|
|         It|
|         is|
|   inspired|
|         by|
|        the|
|        map|
|        and|
|     reduce|
|  functions|
|   commonly|
+-----------+
only showing top 20 rows

#### 4. Count Word Frequencies
Fill in the column name

In [56]:
word_counts = words.groupBy("word").count()
word_counts.show()

+------------+-----+
|        word|count|
+------------+-----+
|         map|    1|
|        used|    2|
|programming.|    1|
|   MapReduce|    2|
|     element|    1|
|  functional|    1|
|          by|    1|
|  aggregates|    1|
|      widely|    1|
|         log|    1|
|         for|    1|
|          in|    2|
| programming|    1|
| collection,|    1|
|       model|    1|
| distributed|    1|
|   machines.|    1|
|     applies|    1|
|          is|    3|
|       sets.|    1|
+------------+-----+
only showing top 20 rows

#### 5. Filter Rare Words
Fill in the condition in `filter()`

In [60]:
word_counts_filtered = word_counts.filter(col("count")>=3)
word_counts_filtered.show()

+----+-----+
|word|count|
+----+-----+
|  is|    3|
| the|    3|
|   a|    3|
+----+-----+

#### 6. Stop the Spark Session

In [61]:
spark.stop()